// Buttons styles
%shared-button {
  @include font-style;

  justify-content: center;
  color: $button-font-color;
}

.primary-button {
  @include flex-center;
  @extend %shared-button;

  position: relative;
  z-index: 0;
  gap: $content-padding;
  padding: $button-padding-y $button-padding-x;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: $button-border-radius;

  &::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(89deg, $gradient-color-start 0%, $gradient-color-mid 50%, $gradient-color-end 100%);
    box-shadow: $btn-shadow;
    content: "";
  }

  &:hover::before {
    background: $gradient-color-start;
  }
}

.large-button {
  @extend %shared-button;

  height: $button-height;
  margin-top: $button-margin-top;
  background: linear-gradient(45deg, $gradient-color-start 0.01%, $gradient-color-mid 49.97%, $gradient-color-end 100%);
  box-shadow: $btn-shadow;

  &:hover {
    background: $gradient-color-start;
  }
}

.google-sign-in-btn {
  @extend %shared-button;

  height: $button-height;
  color: $secondary-font-color;
  border: 1px solid $light-outline-color;

  img {
    margin-right: $content-padding;
  }

  &:hover {
    border-color: $hover-color;
  }
}

.approve-button {
  @include svg-icon-button(
    $button-approve-color,
    "../img/check_circle.svg",
    $hover-color: darken($button-approve-color, 10%)
  );
}

.decline-button {
  @include svg-icon-button(
    $button-decline-color,
    "../img/cancel.svg",
    $hover-color: darken($button-decline-color, 10%)
  );
}

.close-button {
  @include svg-icon-button(
    $button-close-color,
    "../img/cancel.svg",
    $hover-color: darken($button-close-color, 10%)
  );
}

.unblur-button {
  @include svg-icon-button(
    $button-visibility-color,
    "../img/visibility.svg",
    $hover-color: darken($button-visibility-color, 10%),
    $height: 1rem
  );

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.unblur-button.hidden {
  display: none;
}
