// Buttons styles
%shared-button {
  @include font-style;
  @include flex-center;

  flex-shrink: 1;
  color: $button-font-color;
  border: 1px solid transparent;
  cursor: pointer;
}

.primary-button {
  @extend %shared-button;

  padding: $button-padding-y $button-padding-x;
  overflow: hidden;
  text-decoration: none;
  background: linear-gradient(45deg, $gradient-color-start 0.01%, $gradient-color-mid 49.97%, $gradient-color-end 100%);
  border: 0;
  border-radius: $border-radius;

  &:hover {
    background: $gradient-color-start;
  }
}

.large-button-thin {
  @extend %shared-button;

  height: $button-height-thin;
  background: $gradient-color-start;
  border-radius: $border-radius;
  box-shadow: $btn-shadow;

  &:hover {
    background-color: darken($gradient-color-start, 10%);
  }
}

.upload-button {
  @extend %shared-button;

  padding: $button-padding-x;
  color: $primary-font-color;
  background: $background-color;
  border: 2px solid $gradient-color-mid;
  border-radius: $border-radius;

  &:hover {
    color: $gradient-color-start;
    border-color: $hover-color;
  }
}

.approve-button {
  @include svg-icon-button(
    $button-approve-color,
    $approve-img,
    $hover-color: darken($button-approve-color, 10%)
  );
}

.decline-button {
  @include svg-icon-button(
    $button-decline-color,
    $cancel-img,
    $hover-color: darken($button-decline-color, 10%)
  );
}

.close-button {
  @include svg-icon-button(
    $button-close-color,
    $cancel-img,
    $hover-color: darken($button-close-color, 10%)
  );
}

.unblur-button {
  @include svg-icon-button(
    $button-visibility-color,
    $visibility-img,
    $hover-color: darken($button-visibility-color, 10%),
    $height: 1rem
  );
}