// Navbar styles
#navbar {
  @include flex-center(space-between);

  padding: 0 $content-padding;
  background: $background-color;

  %navbar-item-group {
    @include flex-center;

    gap: $content-outline-padding;
    height: $navbar-height;
    padding: 0 $navbar-padding;
    color: $primary-font-color;
    line-height: $standard-line-height;
    letter-spacing: $standard-letter-spacing;
  }

  %navbar-link{
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $hover-color;
    }
  }

  .navbar-link{
    @extend %navbar-link;
    @extend %navbar-item-group;

    &.active {
      color: $main-font-color;
    }
  }

  .navbar-item-group-left {
    @extend %navbar-item-group;
  }

  .navbar-item-group-right {
    @extend %navbar-item-group;

    position: relative;
    gap: $navbar-padding;

    &.active {
      box-shadow: $main-shadow;
    }
  }

  .navbar-dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    display: none;
    width: $navbar-dropdown-width;
    margin-top: -$content-padding;
    background-color: $background-color;
    border: $border-width $primary-border-color solid;
    border-radius: $border-radius;
    box-shadow: $main-shadow;

    a {
      @extend %navbar-link;

      display: flex;
      gap: $navbar-padding; 
      align-items: center;
      padding: $content-padding $content-outline-padding;
      color: $primary-font-color;
    }
  }

  .navbar-item-group-right:hover .navbar-dropdown-content {
    display: block;
  }

  .navbar-logo {
    @include svg-icon(2.2rem, 1.5rem, $navbar-logo-img);
  }
  
  .navbar-user-icon {
    @include svg-icon(1.25rem, 1.25rem, $person-img);
  }
  
  .down-arrow-icon {
    @include svg-icon(0.75rem, 1.25rem, $arrow-dropdown-img);
  }
  
  .logout-icon {
    @include svg-icon(1rem, 1rem, $logout-img);
  }
}
