// Navbar styles
#navbar {
  @include flex-center(space-between);

  padding-right: 0.625rem;
  height: 4.375rem;
  background: $background-color;

  %navbar-item-group {
    @include flex-center;
    @include font-style;

    gap: 1.25rem;
    color: $primary-font-color;
    font-style: normal;
    line-height: $standard-line-height;
    letter-spacing: $standard-letter-spacing;
  }

  .navbar-link {
    @extend %navbar-item-group;

    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $hover-color;
    }
  }

  .navbar-link.active {
    color: $main-font-color;
  }

  .navbar-item-group-left {
    @extend %navbar-item-group;
  }

  .navbar-item-group-right {
    @extend %navbar-item-group;

    gap: 0.375rem;
  }

  #navbar-logo {
    flex-shrink: 0;
    width: 2.2rem;
    height: 1.5rem;
    padding: 1.75rem 1.5rem;
  }

  #navbar-person-icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .down-arrow-icon {
    width: 0.75rem;
    height: 1.25rem;
  }
}
