// Scrollbar styles
%scrollbar {
  @include content-overflow;

  &::-webkit-scrollbar {
    width: $content-padding;
  }

  &::-webkit-scrollbar-track {
    border-radius: $scrollbar-border-radius;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border-radius: $scrollbar-border-radius;
  }

  &::-webkit-scrollbar-thumb:hover,
  &::-webkit-scrollbar-thumb:active {
    background-color: $gradient-color-end;
  }

  // For firefox
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-color transparent;

  &:hover {
    scrollbar-color: $gradient-color-end transparent;
  }
}
