// Text styles
%header {
  @include flex-center(space-between);
  @include font-style($weight: 400, $size: 1.25rem);

  padding: $header-padding $content-padding;
  color: $primary-font-color;
  letter-spacing: -0.0375rem;
}

.larger-header{
  @include flex-center;
  @include font-style($weight: 400, $size: 2.0625rem);

  padding: calc($header-padding * 4) $content-padding $header-padding;
  color: $primary-font-color;
  letter-spacing: -0.062rem;
}

.large-header {
  @include font-style($weight: 300, $size: $header-large-size);

  color: $main-font-color;
}

.large-thin-header {
  @include font-style($weight: 200, $size: $header-large-thin-size);

  color: $background-color;
  letter-spacing: -0.077rem;
}

.small-header {
  @include font-style($size: $header-small-size);

  color: $main-font-color;
  text-align: left;
}

.smaller-header {
  @include font-style($size: $header-smaller-size);

  color: $secondary-font-color;
  text-align: left;
}

// Links
%link {
  @include font-style;

  color: $primary-font-color;
}

.email-link {
  @extend %link;
}

.external-link {
  @extend %link;

  &::after {
    @include svg-icon(1.1875rem, 1.1875rem, $link-open-img);

    display: inline-block;
    margin-bottom: 0.15rem;
    margin-left: 0.5rem;
    vertical-align: middle;
    content: "";
  }
}

// Other text styles
.light-text {
  @include font-style($weight: 500);

  color: $secondary-font-color;
}
