<%- include('content-header.ejs'); %>
<div class="smaller-header">Link to package</div>
<a id="package-link" class="external-link"><!-- set link in js--></a>
<div class="spacing"></div>
<div class="flex-container">
    <div>
        <div class="smaller-header">Requested by</div>
        <div id="package-user-overlay"></div>
    </div>
    <div>
        <div class="smaller-header">Email</div>
        <a class="email-link"></a>
    </div>
</div>
<div class="spacing"></div>
<div class="smaller-header">User explanation</div>
<p id="package-application-message"><!-- set application mesage in js --></p>

<script type="module" src="js/admin/package-request.js"></script>