<div class="server-settings-div">
    <div>
        <div class="main-header-container">
            <div class="main-header">CSV file</div>
            <div class="action-buttons">
                <button id="save-csv" class="approve-button">Save</button>
            </div>
        </div>
        <div class="input-container file-dropbox">
            <label id="file-upload-label" for="file-upload" class="upload-button">
                Upload CSV file
            </label>
            <input type="file" name="file-upload" id="file-upload" class="hide-content" accept=".csv">
            <div id="file-name" class="hide-content"></div>
        </div>
    </div>
    <div>
        <div class="main-header-container">
            <div class="main-header">Prohibited script commands</div>
            <div class="action-buttons">
                <button id="save-prohibited-commands" class="approve-button">Save</button>
            </div>
        </div>
        <div class="input-container">
            <textarea id="prohibited-script-commands" rows="4" cols="50" class="input-textarea" value="<%= blacklist %>"><%= blacklist %></textarea>
        </div>
    </div>
</div>

<script src="js/admin/server-management.js"></script>
