// Analyze page-specific styles
.script-wrapper {
  @extend %main-content;

  display: flex;
  flex: 1;
  gap: $tab-gap;
}

#results {
  height: 100%;
  padding-top:  $content-padding;
  padding-left: 0;
  overflow: hidden;
}

#results-iframe {
  @extend %scrollbar;
  
  width: 100%;
  height: 100%;
  background: $background-gradient;
  border: transparent;
}
