// Login page-specific styles
.login-page-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.half-container {
  text-align: center;
  width: 50%;
  margin: 0 5px;
  padding: 0 5px;
  box-sizing: border-box;

  &.fill {
    height: 98%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50px 0;
    }
  }

  .left-container {
    @include flex-center;
    margin: auto;
    width: 25rem;
    text-align: center;
    flex-direction: column;
  }
}

.toggle-container,
.input,
#sign-in-btn,
.google-sign-in-btn {
  @include flex-center;
  margin-top: 10px;
  width: 100%;
  border-radius: $standard-border-radius;
}

.active {
  background-color: $background-color;
  color: $main-font-color !important;
}

.toggle-container {
  background-color: #fce5f1;
  margin-bottom: 10px;
  height: 50px;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: $standard-font-size;
  font-weight: 600;
}

.sign-in-toggle,
.sign-up-toggle {
  width: 49%;
  padding: 13px 0;
  color: $secondary-font-color;

  &:hover {
    background: #fce5f1;
  }
}

.login-logo {
  top: 10%;
  position: absolute;
  width: 10rem;
}

.welcome-back {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.input {
  height: 60px;
  flex-direction: row;
  box-shadow: $main-shadow;

  &-before {
    padding: 0 10px;
  }

  &-after {
    text-align: left;
    height: 100%;
    padding-right: 15px;
    width: 100%;
  }
}

.fill img {
  min-width: 100%;
  min-height: 100%;
}

hr.or-google-divider {
  margin-top: 30px;
  width: 100%;
  padding: 0;
  overflow: visible;
  border: none;
  border-top: 1px solid $light-outline-color;
  text-align: center;

  &:after {
    content: 'Or';
    display: inline-block;
    position: relative;
    top: -10px;
    padding: 0 16px;
    background: $background-color;
    color: $secondary-font-color;
  }
}

#login-input-email,
#login-input-password {
  height: 100%;
}