.register-title-text {
    @include font-style($weight: 600, $size: 2.95rem);
    margin-bottom: 1.25rem;
}

.input {
    @include flex-center;

    width: 100%;
    margin-top: $content-padding;
    border-radius: $standard-border-radius;
    flex-direction: row;
    box-shadow: $main-shadow;

    input {
        font-weight: 100;
        border-radius: $standard-border-radius;
        padding: 1.25rem;
    }
}

.register-google-name {
    color: $gradient-color-mid;
}

a.change-account-link {
    color: $primary-font-color;
    text-decoration: none;
}

a.change-account-link:hover {
    color: $hover-color;
}

.register-account-info {
    margin-bottom: $content-padding;
}

.current-account {
    font-size: 1rem;
}

.not-you {
    font-weight: 100;
}

.step-button,
#submit-button {
    @include flex-center;
    width: 100%;
    border-radius: $standard-border-radius;
}

#step-01-content,
#step-02-content,
#step-03-content {
    width: 100%;
}

.display-none {
    display: none;
}

#register-input-reason {
    @include font-style($weight: 100, $size: $paragraph-font-size);
    border: 0px;
    resize: none;
    width: 100%;
    border-radius: $standard-border-radius;
    padding: 1rem;
    height: 10rem;
}

.file-dropbox {
    height: 10rem;
    @include flex-direction;
    justify-content: space-evenly;
}

.content-more-info {
    @include font-style($weight: 100, $size: 0.95rem);
    margin-top: $content-padding;
}

#submit-button {
    padding: $content-padding 0;
    background: linear-gradient(45deg, $gradient-color-start 0.01%, $gradient-color-mid 49.97%, $gradient-color-end 100%);
    margin-bottom: $content-padding;
     
    &:hover {
        background: $gradient-color-start;
    }
}

.error-msg {
    color: $button-decline-color;
}

.checkbox-confirmation-div {
    @include flex-center;
    margin-top: $button-margin-top;
    text-align: justify;

    #checkbox-confirmation {
        width: 15%;
    }
}