.style-guide {
  background-color: $primary-background-color;

  .button-wrapper {
    @include flex($align: center);

    gap: 20px;
    width: 100%;
  }

  .text-wrapper {
    @include flex($align: center);

    gap: 20px;
    width: 100%;

    * {
      padding: unset;
    }
  }
}