// This file is to contains all reused variables throughout the css

$main-font: 'Roboto', sans-serif;
$main-font-color: #130214;
$secondary-font-color: #7e6d80;
$active-color: #fff;
$main-shadow: 0px 2px 10px 0px rgba(142, 118, 157, 0.22);
$btn-shadow: 0px 6px 16px 0px rgba(251, 164, 206, 0.3);