<div id="modal" style="display:none;">
    <div id="modal-content" class="item-content">
        <div id="modal-header" class="main-header-container">
            <div id="modal-title">
                <div class="large-header">Request additional packages</div>
            </div>
            <div class="action-buttons">
                <button id="save-button" class="approve-button">Send</button>
                <button id="close-modal-button" class="close-button">Close without sending</button>
            </div>
        </div>
        <hr>
        <!-- TODO: clean up text -->
        <label for="package-request-input-url">
            The URL must be in the following format: <br/> <a>https://cran.r-project.org/package=name</a> <br> where <i>name</i> is the name of the package you are requesting.
        </label>
        <div class="input-container spacing">
            <input id="package-request-input-url" type="text" placeholder="Url to the package" />
        </div>
        <div class="input-container spacing">
            <textarea id="package-request-input-reason" rows="4" cols="50" class="input-textarea" placeholder="Please provide a brief explanation of why you would like to use this package"></textarea>
        </div>
        <div id="package-request-error-msg" class="error-text hide-content">The URL is not in the correct format.</div>
    </div>
</div>

<script src="js/utilities/modals-utils.js"></script>
<script src="js/modals/package-request-modal.js"></script>