<div id="modal" style="display: none">
    <div id="modal-content" class="editor">
        <div class="script-content">
            <div id="modal-header" class="script-header-container">
                <span id="modal-title" class="main-header">Package request form</span>
                <button id="send-request-button" class="primary-button">Request package</button>
                <button id="close-modal" class="close-button">Close</button>
            </div>
            <div class="editor">
                <textarea class="script-textbox" spellcheck="false" placeholder="Type your package request here..."></textarea>

            </div>
        </div>
    </div>
</div>

<script src="js/utilities/modals-utils.js"></script>
<script src="js/modals/package-request-modal.js"></script>