<div id="modal" style="display:none;">
    <div id="modal-content" class="editor">
        <div class="script-content">
            <div id="modal-header" class="script-header-container">
                <span id="modal-title" class="main-header"></span>
                <button id="download-html-button" class="primary-button">Download .HTML</button>
                <button id="download-script-button" class="primary-button">Download script</button>
                <button id="close-modal-button" class="close-button">Close</button>
            </div>
            <div id="results" class="editor"><iframe id="results-iframe"></iframe></div>
        </div>
    </div>
</div>

<script src="js/utilities/modals-utils.js"></script>
<script src="js/modals/script-modal.js"></script>