<div id="modal" style="display:none;">
    <div id="modal-content" class="item-content">
        <div id="modal-header" class="main-header-container">
            <div id="modal-title">
                <div class="large-header"></div>
                <a class="email-link"></a>
            </div>
            <div class="action-buttons">
                <button id="close-modal-button" class="close-button">Close</button>
            </div>
        </div>
        <hr>
        <div class="smaller-header">Application message</div>
        <p id="user-application-message">testing test message</p>
    </div>
</div>

<script src="js/modals/user-modal.js"></script>
<script src="js/utilities/modals-utils.js"></script>