// Mixins
@mixin flex-center($justify: center) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin flex-direction($direction: column) {
  display: flex;
  flex-direction: $direction;
}

@mixin font-style($weight: $standard-font-weight, $size: $standard-font-size, $family: $main-font) {
  font-weight: $weight;
  font-size: $size;
  font-family: $family;
}

@mixin svg-icon($width, $height, $icon-url) {
  width: $width;
  height: $height;
  background-image: url($icon-url);
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin svg-icon-button(
  $bg-color,
  $icon-url,
  $width: $button-svg-size,
  $height: $button-svg-size,
  $hover-color: $hover-color
) {
  @extend %shared-button;
  @include font-style;

  display: inline-flex;
  gap: $content-padding;
  align-items: center;
  padding: $button-padding-y $button-padding-x;
  background: $bg-color;
  border: 1px solid transparent;
  border-radius: $button-border-radius;

  &::before {
    @include svg-icon($width, $height, $icon-url);

    content: "";
  }

  &:hover {
    border-color: $hover-color;
    cursor: pointer;
  }
}


@mixin content-container {
  @include flex-direction($direction: column);

  height: calc(100% - #{$navbar-height} - #{$content-padding});
  min-height: 0;
  margin: 0 $content-padding;
  background: linear-gradient(180deg, $primary-background-color 0%, rgba($primary-background-color, 0.8) 100%),
    $primary-background-color;
}

@mixin header-container {
  @include flex-center($justify: space-between);

  padding: $content-padding 0;
}

@mixin content-overflow {
  overflow-y: auto;
}