// Mixins
@mixin flex-center($justify: center) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin font-style($weight: $standard-font-weight, $size: $standard-font-size, $family: $main-font) {
  font-weight: $weight;
  font-size: $size;
  font-family: $family;
}

@mixin tab-style {
  align-items: center;
  padding: $content-padding $tab-content-padding;
  color: $secondary-font-color;
  border-radius: 0.75rem 0.75rem 0 0;
}

@mixin svg-icon($width, $height) {
  flex-shrink: 0;
  width: $width;
  height: $height;
}

@mixin svg-icon-button($bg-color, $icon-url, $width: $button-svg-size, $height: $button-svg-size) {
  @extend %shared-button;

  display: inline-flex;
  gap: $button-gap;
  align-items: center;
  padding: $button-padding-y $button-padding-x;
  background: $bg-color;
  border: 1px solid transparent;
  border-radius: $button-border-radius;

  &::before {
    @include svg-icon($width, $height);

    background-image: url($icon-url);
    content: '';
  }
}
