// Reused variables throughout the CSS
$main-font: 'Inter', sans-serif;
$script-font: 'Courier New', monospace;
$main-font-color: #130214;
$primary-font-color: #926296;
$secondary-font-color: #7e6d80;
$button-font-color: #fff;
$background-color: #fff;
$main-shadow: 0 2px 10px 0 rgb(142 118 157 / 22%);
$btn-shadow: 0 6px 16px 0 rgb(251 164 206 / 30%);
$standard-line-height: normal;
$standard-letter-spacing: -0.39px;
$standard-border-radius: 10px;
$standard-font-size: 0.95rem;
$standard-font-weight: 600;
$primary-background-color: #fce5f1;
$primary-border-color: #f1d7e6;
$light-outline-color: #e3e1e3;
$gradient-color-start: #b287ae;
$gradient-color-mid: #df98c3;
$gradient-color-end: #fda4cf;
$hover-color: #f5bdd8;
$scrollbar-width: 0.625rem;
$scrollbar-border-radius: 2.5rem;
$scrollbar-color: #f0c2d8;
$tab-padding: 0.875rem;
$tab-gap: 0.25rem;
$tab-border: 2px;
$content-padding: 0.625rem;
$navbar-height: 4.375rem;
