<div class="script-content">
    <div class="script-header-container">
        <div class="main-header"> R Script </div>
        <button id="request-package-button" class="primary-button">Request additional packages</button>
        <button id="run-script-button" class="primary-button">Run Script</button>
    </div>
    <div class="editor">
        <div class="line-numbers"></div>
        <textarea class="script-textbox" spellcheck="false"></textarea>
    </div>
</div>
<div class="script-content">
    <div class="script-header-container">
        <div class="main-header"> Results </div>
        <button id="download-button" class="primary-button">Download .HTML</button>
    </div>
    <div id="results" class="editor"><iframe id="results-iframe"></iframe></div>
</div>