<div id="modal" style="display:none;">
    <div id="modal-content" class="editor">
        <div class="script-content">
            <div id="modal-header" class="script-header-container">
                <span id="modal-title" class="main-header"></span>
                <button id="close-modal" class="close-button">Close</button>
            </div>
            <div class="editor">
                <div class="line-numbers"></div>
                <textarea class="script-textbox" spellcheck="false" readonly></textarea>
            </div>
        </div>
    </div>
</div>