<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
  <%- include('partials/navbar.ejs', { page: 'home' , username: 'John Doe' }); %>
</body>

</html>