<!DOCTYPE html>
<html>

<head>
    <title>Style Guide</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" href="/img/logo.svg" type="image/svg+xml" />
</head>
<div class="style-guide">
    <div class="button-wrapper"> Buttons 
        <button class="primary-button"> primary button </button>
        <button class="large-button-thin"> large button thin </button>
        <button class="upload-button"> upload button </button>
        <button class="approve-button"> approve button </button>
        <button class="decline-button"> decline button </button>
        <button class="close-button"> close button </button>
        <button class="unblur-button"> unblur button </button>
    </div>
</body>

</html>
