<div class="main-header-container">
    <h1>Welcome to Relabase</h1> 
    <p>The relationship database from the department of psychology of the University of Western Ontario</p>
    <!-- More paragraphs about the site -->
</div>