<% const sortedLogs = [...logs].sort((a, b) => b.create_time.getTime() - a.create_time.getTime()); %>

<table id="home-table" class="table">
<tbody class="table-body">
    <% sortedLogs.forEach(log=> { %>
        <tr class="table-row" data-text="<%= log.text %>">
            <td class="table-cell light-text" data-timestamp="<%= log.create_time.getTime() %>">
                <%= formatDate(log.create_time) %>
            </td>
        </tr>
        <% }) %>
</tbody>
</table>

<script src='js/utilities/table-script.js'></script>

