@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap';
/* rgb(77, 69, 79); */
/* #000; */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.625rem;
  background: #fff;
}
#navbar .navbar-item-group-right, #navbar .navbar-item-group-left, #navbar .navbar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  height: 4.375rem;
  color: #926296;
  line-height: normal;
  letter-spacing: -0.39px;
}
#navbar .navbar-link {
  text-decoration: none;
  cursor: pointer;
}
#navbar .navbar-link:hover {
  color: #f5bdd8;
}
#navbar .navbar-link.active {
  color: #130214;
}
#navbar .navbar-item-group-right {
  gap: 0.375rem;
}
#navbar #navbar-logo {
  flex-shrink: 0;
  width: 2.2rem;
  height: 1.5rem;
  padding: 1.75rem 1.5rem;
}
#navbar #navbar-person-icon {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
}
#navbar .down-arrow-icon {
  flex-shrink: 0;
  width: 0.75rem;
  height: 1.25rem;
}

.unblur-button, #decline-button, #approve-button, .google-sign-in-btn, .large-button, .primary-button {
  justify-content: center;
  color: #fff;
}

.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  gap: 0.625rem;
  padding: 0.5625rem 1.1875rem;
  overflow: hidden;
  text-align: center;
  border-color: transparent;
  border-radius: 3.0625rem;
}
.primary-button::before {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(89deg, #b287ae 0%, #df98c3 50%, #fda4cf 100%);
  box-shadow: 0 6px 16px 0 rgba(251, 164, 206, 0.3);
  content: "";
}
.primary-button:hover::before {
  background: #b287ae;
}

.large-button {
  height: 3.125rem;
  margin-top: 1.25rem;
  background: linear-gradient(45deg, #b287ae 0.01%, #df98c3 49.97%, #fda4cf 100%);
  box-shadow: 0 6px 16px 0 rgba(251, 164, 206, 0.3);
}
.large-button:hover {
  background: #b287ae;
}

.google-sign-in-btn {
  height: 3.125rem;
  color: #7e6d80;
  border: 1px solid #e3e1e3;
}
.google-sign-in-btn img {
  margin-right: 0.625rem;
}
.google-sign-in-btn:hover {
  border-color: #f5bdd8;
}

#approve-button {
  font-weight: 600;
  font-size: 0.95rem;
  font-family: "Inter", sans-serif;
  display: inline-flex;
  gap: 0.625rem;
  align-items: center;
  padding: 0.5625rem 1.1875rem;
  background: #26c7b4;
  border: 1px solid transparent;
  border-radius: 3.0625rem;
}
#approve-button::before {
  flex-shrink: 0;
  width: 1.0625rem;
  height: 1.0625rem;
  background-image: url("../img/check_circle.svg");
  content: "";
}
#approve-button:hover {
  border-color: #1e9c8d;
  cursor: pointer;
}

#decline-button {
  font-weight: 600;
  font-size: 0.95rem;
  font-family: "Inter", sans-serif;
  display: inline-flex;
  gap: 0.625rem;
  align-items: center;
  padding: 0.5625rem 1.1875rem;
  background: #e5467f;
  border: 1px solid transparent;
  border-radius: 3.0625rem;
}
#decline-button::before {
  flex-shrink: 0;
  width: 1.0625rem;
  height: 1.0625rem;
  background-image: url("../img/cancel.svg");
  content: "";
}
#decline-button:hover {
  border-color: #d91f62;
  cursor: pointer;
}

.unblur-button {
  font-weight: 600;
  font-size: 0.95rem;
  font-family: "Inter", sans-serif;
  display: inline-flex;
  gap: 0.625rem;
  align-items: center;
  padding: 0.5625rem 1.1875rem;
  background: #926296;
  border: 1px solid transparent;
  border-radius: 3.0625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.unblur-button::before {
  flex-shrink: 0;
  width: 1.0625rem;
  height: 1rem;
  background-image: url("../img/visibility.svg");
  content: "";
}
.unblur-button:hover {
  border-color: #744e77;
  cursor: pointer;
}

.unblur-button.hidden {
  display: none;
}

#admin-content .user-content::-webkit-scrollbar, #admin-content .user-list::-webkit-scrollbar, #admin-content .tab-content::-webkit-scrollbar, .script::-webkit-scrollbar {
  width: 0.625rem;
}
#admin-content .user-content::-webkit-scrollbar-track, #admin-content .user-list::-webkit-scrollbar-track, #admin-content .tab-content::-webkit-scrollbar-track, .script::-webkit-scrollbar-track {
  border-radius: 2.5rem;
}
#admin-content .user-content::-webkit-scrollbar-thumb, #admin-content .user-list::-webkit-scrollbar-thumb, #admin-content .tab-content::-webkit-scrollbar-thumb, .script::-webkit-scrollbar-thumb {
  background: #f0c2d8;
  border-radius: 2.5rem;
}
#admin-content .user-content::-webkit-scrollbar-thumb:hover, #admin-content .user-list::-webkit-scrollbar-thumb:hover, #admin-content .tab-content::-webkit-scrollbar-thumb:hover, .script::-webkit-scrollbar-thumb:hover, #admin-content .user-content::-webkit-scrollbar-thumb:active, #admin-content .user-list::-webkit-scrollbar-thumb:active, #admin-content .tab-content::-webkit-scrollbar-thumb:active, .script::-webkit-scrollbar-thumb:active {
  background-color: #fda4cf;
}

#admin-content .admin-header, .analyze-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  padding: 0.9375rem 0.625rem;
  color: #926296;
  letter-spacing: -0.0375rem;
}

.large-header {
  font-weight: 300;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  color: #130214;
}

.large-thin-header {
  font-weight: 200;
  font-size: 2.5625rem;
  font-family: "Inter", sans-serif;
  color: #fff;
  letter-spacing: -0.077rem;
}

.small-header {
  font-weight: 600;
  font-size: 0.9375rem;
  font-family: "Inter", sans-serif;
  color: #130214;
  text-align: left;
}

.smaller-header {
  font-weight: 600;
  font-size: 0.6875rem;
  font-family: "Inter", sans-serif;
  color: #7e6d80;
  text-align: left;
}

.login-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.half-container {
  box-sizing: border-box;
  width: 50%;
  margin: 0 0.313rem;
  padding: 0 0.313rem;
  text-align: center;
}
.half-container.fill {
  height: 98%;
}
.half-container.fill img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3.125rem 0;
}
.half-container .left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25rem;
  margin: auto;
  text-align: center;
}

.toggle-container,
.input,
#sign-in-btn,
.google-sign-in-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0.625rem;
  border-radius: 10px;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 3.125rem;
  margin-bottom: 0.625rem;
  background-color: #fce5f1;
}

.sign-in-toggle,
.sign-up-toggle {
  width: 49%;
  padding: 0.75rem 0;
  color: #7e6d80;
}
.sign-in-toggle.active,
.sign-up-toggle.active {
  color: #130214;
  background-color: #fff;
  border-radius: 0.4375rem;
}
.sign-in-toggle:hover,
.sign-up-toggle:hover {
  background: #fce5f1;
}

.login-logo {
  position: absolute;
  top: 10%;
  width: 10rem;
}

.welcome-back {
  font-weight: 300;
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 1.25rem;
}

.input {
  flex-direction: row;
  height: 3.75rem;
  box-shadow: 0 2px 10px 0 rgba(142, 118, 157, 0.22);
}
.input-before {
  padding: 0 0.625rem;
}
.input-after {
  width: 100%;
  height: 100%;
  padding-right: 0.938rem;
  text-align: left;
}

.or-google-divider {
  width: 100%;
  margin-top: 1.875rem;
  padding: 0;
  overflow: visible;
  text-align: center;
  border: 0;
  border-top: 1px solid #e3e1e3;
}
.or-google-divider::after {
  position: relative;
  top: -0.625rem;
  display: inline-block;
  padding: 0 1rem;
  color: #7e6d80;
  background: #fff;
  content: "Or";
}

#login-input-email,
#login-input-password {
  height: 100%;
}

.editor {
  display: flex;
  width: 100%;
  height: calc(100% - 4.375rem);
}

.script {
  font-weight: 600;
  font-size: 0.95rem;
  font-family: "Courier New", monospace;
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-left: 1.875rem;
  overflow-y: auto;
  line-height: 1.5;
  background: linear-gradient(180deg, #fce5f1 0%, rgba(254, 221, 225, 0.8) 100%), #fce5f1;
  border: 0;
  resize: none;
  scroll-behavior: smooth;
}

#script-textbox {
  resize: none;
}

#results {
  padding-left: 0;
  overflow: hidden;
}

#results-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#line-numbers {
  font-weight: 600;
  font-size: 0.95rem;
  font-family: "Courier New", monospace;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0.4375rem;
  overflow: hidden;
  color: #c2a6c5;
  line-height: 1.5;
  white-space: pre;
  text-align: right;
  background: rgba(194, 166, 197, 0.2);
  border-right: 1px solid #f1d7e6;
}

.content-wrapper {
  display: flex;
  flex: 1;
  gap: 0.25rem;
  height: calc(100% - 4.375rem - 0.625rem);
  margin-right: 0.625rem;
  margin-left: 0.625rem;
}

.content-left,
.content-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: linear-gradient(0deg, #fce5f1 0%, #fce5f1 100%), linear-gradient(180deg, #fce5f1 0%, rgba(254, 221, 225, 0.8) 100%);
}

.analyze-header {
  border-bottom: 0.0313rem #f1d7e6 solid;
}

#admin-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 4.375rem - 0.625rem);
  min-height: 0;
  margin: 0 0.625rem;
  background: linear-gradient(180deg, #fce5f1 0%, rgba(252, 229, 241, 0.8) 100%), #fce5f1;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 0.25rem;
  padding: 0.625rem 0.625rem 0;
}
.tabs::after {
  position: absolute;
  right: 0.625rem;
  bottom: 0;
  left: 0.625rem;
  border-bottom: 2px solid #fff;
  content: "";
}

#admin-content .tab {
  align-items: center;
  padding: 0.625rem 1.25rem;
  color: #7e6d80;
  border-radius: 0.75rem 0.75rem 0 0;
}
#admin-content .tab:hover {
  cursor: pointer;
}
#admin-content .tab.active {
  color: #130214;
  background: #fff;
  border-color: #fff;
}

#admin-content .tab-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

#admin-content .tab-pane {
  display: none;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
#admin-content .tab-pane.active {
  display: flex;
  flex-direction: column;
}

#admin-content .user-application {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.8125rem;
  margin: 0 0.625rem 0.625rem 0.625rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.75rem;
}
#admin-content .user-application.active {
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(169, 82, 113, 0.12);
}
#admin-content .user-application:hover {
  background-color: white;
}
#admin-content .user-application .user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.25rem;
}
#admin-content .user-application .arrow {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.25rem;
  background: url("../img/arrow_right_alt.svg") no-repeat center;
  background-size: contain;
}

#admin-content .admin-header {
  flex: none;
}

#admin-content .user-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

#admin-content .user-list {
  flex: 0.8;
  height: 100%;
  min-height: 0;
  overflow-y: auto;
}

#admin-content .content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
}

#admin-content .user-content {
  flex: 3.5;
  min-height: 0;
  margin: 0 0.625rem 0.625rem 0.625rem;
  padding: 1.25rem;
  overflow-y: auto;
  background: #fff;
  border: 2px solid transparent;
  border-radius: 0.75rem;
}

#admin-content .action-buttons {
  display: flex;
  gap: 10px;
}

#email-link {
  color: #926296;
}

#no-content-selected {
  display: flex;
  flex: 3.5;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin: 0 0.625rem 0.625rem 0.625rem;
  padding: 20px;
  overflow-y: auto;
  text-align: center;
  background-color: #fce5f1;
  border: 2px solid #fff;
  border-radius: 0.75rem;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.5rem;
  height: 25rem;
  padding-top: 2.5rem;
  overflow: hidden;
  border-radius: 0.75rem;
}

#user-id-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-weight: bold;
  font-size: 0.95rem;
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0;
  color: #130214;
  background-color: #fff;
}

input {
  font-weight: 600;
  font-size: 0.95rem;
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 0;
  color: #130214;
  border: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

hr {
  flex-shrink: 0;
  padding-bottom: 0.625rem;
  border: 0;
  border-top: 0.0625rem solid #fce5f1;
}

p {
  font-size: 0.8125rem;
}

.spacing {
  margin-bottom: 1.5rem;
}

.hide-content {
  display: none !important;
}/*# sourceMappingURL=main.css.map */