// Import Google font
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap";

// Import partials
@import "partials/variables";
@import "partials/mixin";

// Import components
@import "components/navbar";
@import "components/buttons";
@import "components/dropdown";
@import "components/input";
@import "components/modal";
@import "components/script";
@import "components/scrollbar";
@import "components/table";
@import "components/tabs";
@import "components/text";

// Import page-specific styles
@import "pages/login";
@import "pages/analyze";
@import "pages/admin";
@import "pages/register";

// This file should contain all global CSS

%main-content{
  height: calc(100vh - #{$navbar-height} - #{$content-padding});
  min-height: 0;
  margin: 0 $content-padding;
}

body {
  @include font-style(bold);

  height: 100vh;
  margin: 0;
  color: $main-font-color;
  background-color: $background-color;
}

input {
  @include font-style;

  width: 100%;
  padding: 0;
  color: $main-font-color;
  border: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

hr {
  flex-shrink: 0;
  padding-bottom: $content-padding;
  border: 0;
  border-top: $hr-height solid $primary-background-color;
}

p {
  font-size: $paragraph-font-size;
}

.spacing {
  margin-bottom: $spacing;
}

.hide-content {
  display: none !important;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container {
  display: flex;
  gap: 1rem;
  margin-bottom: $content-gap;
}

table,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-content {
  @include content-container;
}

.main-content-image {
  @include content-container;
  @include background-image("../img/eye_candy.png");
}

.centered-content{
  @extend %scrollbar;

  margin: 0 auto;
}

.main-header-container {
  @include header-container;
}

.main-header {
  @extend %header;
}