// Import partials
@import 'partials/mixin';
@import 'partials/variables';

// Import components
@import 'components/navbar';
@import 'components/buttons';

// Import page-specific styles
@import 'pages/login';
@import 'pages/analyze';

// This file should contain all global CSS

body {
  margin: 0;
  height: 100vh;
  color: $main-font-color;
  font-weight: bold;
  font-family: $main-font;
}

input {
  border: none;
  padding: 0;
  color: $main-font-color;
  font-family: $main-font;
  font-size: $standard-font-size;
  font-weight: 600;
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}