<div class="content-header">
    <div class="large-header">
        <!-- set application/request name in js-->
    </div>
    <div class="action-buttons">
        <button class="approve-button">Approve</button>
        <button class="decline-button">Decline</button>
    </div>
</div>
<hr>