<div class="tab-pane" id="pane3">
    <div class="main-header-container">
        <div class="search-inputs">
            <div class="search-input-container">
                <input type="text" class="search-input" id="user-management-search" placeholder="Search">
            </div>
        </div>
    </div>
    <%- include('user-management.ejs'); %>
</div>