<div class="tab-pane" id="pane1">
    <div class="admin-header-container">
        <div class="admin-header">User Applications</div>
    </div>
    <%- include('item-section.ejs', {type: 'user' }); %>
</div>