<div class="tab-pane" id="pane2">
    <div class="main-header-container">
        <div class="main-header">Package Requests</div>
    </div>
    <%- include('item-section.ejs', {type: 'package' }); %>
</div>