<div class="user-section">
    <div class="user-list">
        <!-- Users will be generated here -->
    </div>
    <div class="user-content">
        <%- include('user-application.ejs'); %>
    </div>
    <div id="no-content-selected" class="large-thin-header show-content">No user selected</div>
</div>