<div class="content-header">
    <div class="large-header"><!-- set name in js--></div>
    <div class="action-buttons">
        <button id="approve-button">Approve</button>
        <button id="decline-button">Decline</button>
    </div>
</div>
<hr>
<div class="smaller-header">Email</div>
<a id="email-link"></a>
<!-- set email in js-->
<div class="spacing"></div>
<div class="smaller-header">Application message</div>
<p id="application-message"><!-- set application mesage in js --></p>
<div class="image-container">
    <img id="user-id-image" src="" /><!-- set image in js -->
    <button class="unblur-button">Show ID Photo</button>
</div>