<%- include('content-header.ejs'); %>
<div class="smaller-header">Email</div>
<a class="email-link"></a>
<!-- set email in js-->
<div class="spacing"></div>
<div class="smaller-header">Application message</div>
<p id="user-application-message"><!-- set application mesage in js --></p>
<div class="image-container">
    <img id="user-id-image" src="" /><!-- set image in js -->
    <button class="unblur-button">Show ID Photo</button>
</div>

<script type="module" src="js/admin/user-application.js"></script>